# Исследование надежности заемщиков

**Цель исследования** — определить какие параметры влияют на факт погашения кредита в срок.

Необходимо проверить следующие зависимости:
1. Есть ли зависимость между количеством детей и возвратом кредита в срок?
2. Есть ли зависимость между семейным положением и возвратом кредита в срок?
3. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
4. Как разные цели кредита влияют на его возврат в срок?

**Описание проекта**

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

О качестве данных ничего не известно. Поэтому перед проверкой гипотез понадобится обзор данных. Я проверю данные на ошибки и оценю их влияние на исследование. Затем, на этапе предобработки буду искать возможность исправить самые критичные ошибки данных.
 
Таким образом, исследование пройдёт в три этапа:
 1. Обзор данных.
 2. Предобработка данных.
 3. Проверка гипотез.

## Описание данных

* `children` — количество детей в семье
* `days_employed` — общий трудовой стаж в днях
* `dob_years` — возраст клиента в годах
* `education` — уровень образования клиента
* `education_id` — идентификатор уровня образования
* `family_status` — семейное положение
* `family_status_id` — идентификатор семейного положения
* `gender` — пол клиента
* `income_type` — тип занятости
* `debt` — имел ли задолженность по возврату кредитов
* `total_income` — ежемесячный доход
* `purpose` — цель получения кредита

## Обзор данных

Импортирую библиотеку pandas.

In [1]:
import pandas as pd

Считываю данные из файла data.csv и сохраню их в датафрейм data

In [2]:
try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

Выведу первые 20 строчек датафрейма на экран, чтобы ознакомиться с данными, проверить нужные ли данные были загружены.

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

Выведe основную информацию о датафрейме.

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

В таблице 12 столбцов. Тип данных в двух столбцах - float; в пяти столбцах - int; в пяти столбцах — object.

Согласно документации к данным:
Описание данных
* `children` — количество детей в семье
* `days_employed` — общий трудовой стаж в днях
* `dob_years` — возраст клиента в годах
* `education` — уровень образования клиента
* `education_id` — идентификатор уровня образования
* `family_status` — семейное положение
* `family_status_id` — идентификатор семейного положения
* `gender` — пол клиента
* `income_type` — тип занятости
* `debt` — имел ли задолженность по возврату кредитов
* `total_income` — ежемесячный доход
* `purpose` — цель получения кредита

## Предобработка данных

### Удаление пропусков

Выведу долю пропущенных значений для каждого столбца. Так мы увидим, что можно отбросить, а с чем надо работать.

In [5]:
pd.DataFrame(data.isna().mean()*100).style.set_precision(1).background_gradient('coolwarm')

В двух столбцах (`'days_employed'` и `'total_income'`) пропущено 10% значений. Такие пустые строки удалять нельзя, их необходимо заполнить.

Столбец с пропущенными значениями — `'total_income'` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца income_type. Например, у человека с типом занятости сотрудник пропуск в столбце total_income должен быть заполнен медианным доходом среди всех записей с тем же типом.

Пропуски в столбце `'days_employed'` будут обработаны немного позже.

In [6]:
# Создадим цикл, в котором пройдем по каждому уникальному типу занятости (столбец 'income_type')
# Далее в столбце 'income_type' в строки с пропуском запишем медианное значение 
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

В столбце `'days_employed'` были найдены артефакты (аномалии) — отрицательное количество дней трудового стажа. Все отрицательные значения заменяю положительными значениями.

In [7]:
data['days_employed'] = data['days_employed'].abs()

Для каждого типа занятости выведу медианное значение трудового стажа `'days_employed'` в днях.

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

Выведу перечень уникальных значений столбца `children`. Возможно в нем тоже есть аномальные значения.

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

В столбце `children` есть два аномальных значения. Удалю из датафрейма строки, в которых встречаются такие аномальные значения.

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

Убедимся, что артефакты удалены.

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

Теперь для столбца `'days_employed'` заполним пропуски медианным значением трудового стажа в зависимости от типа занятости человека.

In [12]:
# Создадим цикл, в котором пройдем по каждому уникальному типу занятости (столбец 'income_type')
# Далее в столбце 'income_type' в строки с пропуском запишем медианное значение общего трудового стажа ('days_employed')

for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

Убедимся, что все пропуски заполнены.

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

В столбце `'total_income'` изменю тип данных с вещественного на целочисленный.

In [14]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

Обработаю неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведу их к нижнему регистру.

In [15]:
data['education'] = data['education'].str.lower()

Выведу на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалю их.

In [16]:
data.duplicated().sum()

71

In [17]:
data = data.drop_duplicates()

### Категоризация данных

На основании диапазонов, указанных ниже, создам в датафрейме `data` столбец `total_income_category` с категориями:

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

Выведу на экран перечень уникальных целей взятия кредита из столбца `purpose`.

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

В каждой подстроке для каждой цели можно выделить определенные повторяющиеся слова. Например, для категории 'операции с автомобилем' будет подстрока 'автом'. Для категории 'операции с недвижимостью' - подстрока 'жил'. Для категории 'проведение свадьбы' - подстрока 'свад'. Для категории 'получение образования' - подстрока 'образов'.

По этим подстрокам в функции будет производиться присваивание категории.

Создам функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [21]:
def categorize_purpose(row):
    '''
    Функция ищет в столбце ключевы слова ('автом', 'жил', 'свад', 'образов') и по ним возвращает название категории для цели кредита
    '''
    
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

**Выводы**

Предобработка обнаружила три проблемы в данных:

- пропуски значений,
- аномальные значения,
- дубликаты — явные и неявные.

Я заполнила пропуски медианным значением, удалила дубликаты и аномальные значения. 

Создала 2 новых столюца с категориальными данными для более быстрого и удобного дальнейшего анализа.

Теперь можно перейти к проверке гипотез.

## Проверка гипотез

#### 1. Есть ли зависимость между количеством детей и возвратом кредита в срок?

Для начало посмотрим, распределены ли равномерно выборки, если сгруппировать семьи по количеству детей.
    
Для этого сгруппирую семьи по количеству детей (столбец 'children') и посчитаю количество семей, которые брали кредит. Для этого применю агрегирующую функцию count к столбцу 'debt'.

In [23]:
data.groupby('children')['debt'].agg('count')

children
0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: debt, dtype: int64

Больше всего данных представлено по семьям с 0, 1 и 2 детьми. Чтобы выявить зависимость между количеством детей и возвратом кредита в срок будем рассматривать именно эти семьи. Семьи с 3 и более детьми не будем включать в анализ, так как по ним имеется мало данных.

Создадим сводную таблицу, где:
* строки - количество детей в семье; 
* колонка `'count debt'` - число кредитополучателей;
* колонка `'sum debt'` - количество должников;
* колонка `'mean debt'` - доля должников.

In [24]:
data_pivot_table = data.pivot_table(index='children', values='debt', aggfunc=['count', 'sum', 'mean']).round(2)
data_pivot_table.columns = ['Всего кредитополучателей', 'Всего должников', 'Доля должников']
# Выведем информацию только по семьям с 0, 1 и 2 детьми
data_pivot_table.head(3)

          Всего кредитополучателей  Всего должников  Доля должников
children
0                            14091             1063            0.08
1                             4808              444            0.09
2                             2052              194            0.09

**Вывод:**

Доля должников в семьях без детей составляет всего 8%, а в семьях с 1, 2 детьми уже 9%. Возможно семьи без детей чаще выплачивают кредит в срок, так как у нет ежедневных трат на детей.

Можно сделать вывод о том, что чем меньше детей в семье, тем выше кредитоспособность семьи.

#### 2. Есть ли зависимость между семейным положением и возвратом кредита в срок?

  
Создадим сводную таблицу, где:
* строки - семейное положение; 
* колонка `'count debt'` - число кредитополучателей;
* колонка `'sum debt'` - количество должников;
* колонка `'mean debt'` - доля должников.

In [25]:
data_pivot_table = data.pivot_table(index='family_status', values='debt', aggfunc=['count', 'sum', 'mean']).round(2)
data_pivot_table.columns = ['Всего кредитополучателей', 'Всего должников', 'Доля должников']
data_pivot_table

,Всего кредитополучателей,Всего должников,Доля должников
family_status,,,
Не женат / не замужем,2796,273,0.10
в разводе,1189,84,0.07
вдовец / вдова,951,63,0.07
гражданский брак,4134,385,0.09
женат / замужем,12261,927,0.08

Наибольшая доля должников - люди не состоящих в браке (10%) и семьи в гражданском браке (9%).
  
Меньше всего должников среди вдовцов/вдов (7%), людей в разводе (7%) и состоящих в браке (8%). 
    
Однако стоит отметить перекос в группах. Больше всего кредит берут семьи состоящие в браке, их почти 12 300. На втором месте люди не состоящих в браке (их почти 2800) и люди в разводе (почти 1200). Несмотря на то, что меньше всего должников среди вдовцов/вдов, эти люди реже всех берут кредиты.

**Вывод:** 

По расчетам можно вывести общую зависимость, что заемщики состоящие или состоявшие в браке лучше выплачивают кредиты. Также редкие должники вдовцы/вдовы, однако они и не часто берут кредиты. Чаще всех кредиты берут люди в браке.

#### 3. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

В датафрейме был создан ноывй столбец `total_income_category`, в котором для удобства величина дохода была разбита на категории.

В столбце `total_income_category` выделены следующие категории в зависимости от дохода кредитополучателя:

* `'E'` доход 0 - 30 000;
* `'D'` доход 30 001 - 50 000;
* `'C'` доход 50 001 - 200 000;
* `'B'` доход 200 001 - 1 000 000;
* `'A'` доход выше 1 000 000.

Создадим сводную таблицу, где:
* строки - категория в зависимости от дохода кредитополучателя; 
* колонка `'count debt'` - число кредитополучателей;
* колонка `'sum debt'` - количество должников;
* колонка `'mean debt'` - доля должников.

In [26]:
data_pivot_table = data.pivot_table(index='total_income_category', values='debt', aggfunc=['count', 'sum', 'mean']).round(2)
data_pivot_table.columns = ['Всего кредитополучателей', 'Всего должников', 'Доля должников']
data_pivot_table

,Всего кредитополучателей,Всего должников,Доля должников
total_income_category,,,
A,25,2,0.08
B,5014,354,0.07
C,15921,1353,0.08
D,349,21,0.06
E,22,2,0.09

Выборки крайне несбалансированны и для выявления зависимости между уровнем дохода и возвратом кредита в срок стоит сравнить две самые большие категории B и C.
    
Доля должников среди людей категории B с доходом 200 тыс. - 1 млн. составляет 7%, а доля должников с меньшим доходом категория C (50 тыс. - 200 тыс.) уже 8%.

Однако стоит заметить, что люди с доходом 50 тыс. - 200 тыс. берут кредиты чаще, чем люди с более высоким доходом.

**Вывод:** 

Чем выше доход кредитополучателя, тем чаще он будет выплачивать его в срок. Однако, данные несбалансированы, поэтому исследовались две самые большие категории. Было замечено, что люди с доходом 50 тыс. - 200 тыс. берут кредиты чаще, чем люди с более высоким доходом 200 тыс. - 1 млн.

#### 4. Как разные цели кредита влияют на его возврат в срок?

В датафрейме был создан ноывй столбец `purpose_category`, в котором для удобства цели кредита были разбиты на категории по ключевым словам.

В столбце `purpose_category` указаны следующие категории в зависимости от цели кредита:

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

Создадим сводную таблицу, где:
* строки - категория в зависимости от цели кредита; 
* колонка `'count debt'` - число кредитополучателей;
* колонка `'sum debt'` - количество должников;
* колонка `'mean debt'` - доля должников.

In [27]:
data_pivot_table = data.pivot_table(index='purpose_category', values='debt', aggfunc=['count', 'sum', 'mean']).round(2)
data_pivot_table.columns = ['Всего кредитополучателей', 'Всего должников', 'Доля должников']
data_pivot_table

,Всего кредитополучателей,Всего должников,Доля должников
purpose_category,,,
операции с автомобилем,4279,400,0.09
операции с недвижимостью,10751,780,0.07
получение образования,3988,369,0.09
проведение свадьбы,2313,183,0.08

Наибольшая доля должников - люди, берущие кредит на операции с автомобилем	и для  получение образования (9%).

Меньше всего должников среди людей, берущих кредит на покупку недвижимости (7%) или проведение свадьбы (8%).

Однако стоит отметить перекос в группах. Несмотря на то, что меньше всего должников среди людей, берущих кредит на проведение свадьбы, эти люди реже всех берут кредиты. Больше всего кредит берут для операций с недвижимостью, кредитополучателей с такой целью почти 10 800.

**Вывод:** 

Люди, которые берут кредит для покупки недвижимости, чаще выплачивают его в срок. Также редкие должники люди, берущие кредит на проведение свадьбы, однако люди с такой целью не часто берут кредит. Чаще всех кредиты берут люди с целью приобрести недвижимость.

## Общий вывод

В данном проекте исследовалась надежность заемщиков. А именно какие параметры влияют на факт погашения кредита в срок. Заказчик - кредитный отдел банка.

Данные для анализа состоят из таблицы с 12 столбцами. 

**Описание данных:**
* `children` — количество детей в семье
* `days_employed` — общий трудовой стаж в днях
* `dob_years` — возраст клиента в годах
* `education` — уровень образования клиента
* `education_id` — идентификатор уровня образования
* `family_status` — семейное положение
* `family_status_id` — идентификатор семейного положения
* `gender` — пол клиента
* `income_type` — тип занятости
* `debt` — имел ли задолженность по возврату кредитов
* `total_income` — ежемесячный доход
* `purpose` — цель получения кредита
    
В ходе работы была проведена предобработка данных и исследовательский анализ данных.
    
**Во время предобработки данных:**
1. В столбце `'days_employed'` были найдены артефакты (аномалии) — отрицательное количество дней трудового стажа. Все отрицательные значения были заменены положительными значениями.
    
2. В столбцах `'days_employed'` и `'total_income'` были обнаружены пропуски 2174 значений. Эти пропуски были заполнены. Для столбца 'days_employed' пропуски заполнили медианным значением трудового стажа в зависимости от типа занятости человека. Для столбца 'total_income' пропуски заполнили медианным значением ежемесячного дохода в зависимости от типа занятости человека.
    
3. В столбце `'children'` было найдено два аномальных значения. Были удалены строки, в которых встречаются такие аномальные значения.

4. В столбце `'total_income'` был изменен тип данных с вещественного на целочисленный.

5. В столбце `'education'` были удалены неявные дубликаты.

6. Был создан  столбец `'total_income_category'` на основании диапазонов дохода. Были выделены следующие категории дохода:
- 'E' доход 0 - 30 000;
- 'D' доход 30 001 - 50 000;
- 'C' доход 50 001 - 200 000;
- 'B' доход 200 001 - 1 000 000;
- 'A' доход выше 1 000 000.

7. Был создан  столбец `'purpose_category'` на основании целей кредита, указанных в столбце 'purpose'. Были выделены следующие категории:
- 'операции с автомобилем';
- 'операции с недвижимостью';
- 'проведение свадьбы';
- 'получение образования'.
    
**Во время исследовательского анализы были сформулированы следующие выводы:**
1. Чем меньше детей в семье, тем выше кредитоспособность семьи;

2. Меньше всего должников среди людей в разводе и состоящих в браке. Также редкие должники вдовцы/вдовы, однако они и не часто берут кредиты. Чаще всех кредиты берут люди в браке;

3. Чем выше доход кредитополучателя, тем чаще он будет выплачивать его в срок. Однако стоит заметить, что люди с доходом 50 001 - 200 000 берут кредиты чаще, чем люди с более высоким доходом 200 001 - 1 000 000;

4. Люди, которые берут кредит для покупки недвижимости, чаще выплачивают его в срок. Также редкие должники люди, берущие кредит на проведение свадьбы, однако люди с такой целью не часто берут кредит. Чаще всех кредиты берут люди с целью приобрести недвижимость.
    
**Рекомендации:**
- внимательнее заполнять данные о трудовом стаже и ежемесячном доходе. Пропуски могли нести в себе важную информацию для анализа;
- при составлении модели кредитного скоринга комплексно уделить внимание следующим показателям: количество детей в семье, уровень дохода семьи, семейное положение. Учитывать, что есть определенные группы людей, которые чаще берут кредит. Таким семьям уделить больше внимания при анализе.